[submodule "vim/pack/modules/start/ctrlp.vim"]
	path = vim/pack/modules/start/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/modules/start/detectindent"]
	path = vim/pack/modules/start/detectindent
	url = https://github.com/roryokane/detectindent
[submodule "vim/pack/modules/start/tagbar"]
	path = vim/pack/modules/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/pack/modules/start/nerdtree"]
	path = vim/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/modules/start/vim-cpp-enhanced-highlight"]
	path = vim/pack/modules/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/pack/modules/start/Mark"]
	path = vim/pack/modules/start/Mark
	url = https://github.com/vim-scripts/Mark
[submodule "vim/pack/modules/start/vim-colors-pencil"]
	path = vim/pack/modules/start/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "vim/pack/modules/start/ale"]
	path = vim/pack/modules/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/modules/start/solarized"]
	path = vim/pack/modules/start/solarized
	url = https://github.com/lifepillar/vim-solarized8
[submodule "vim/pack/modules/start/python-syntax"]
	path = vim/pack/modules/start/python-syntax
	url = https://github.com/vim-python/python-syntax
