[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
